@model ObandoGamboaFabricio.ViewModels.UsuarioVM;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ObandoGamboaFabricio.styles.css" asp-append-version="true" />

</head>

<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Registrarse
                </div>
                <div class="card-body">
                    <form asp-controller="Acceso" asp-action="Registro" method="post">
                        <input class="form-control mb-3" name="NombreVM" type="text" placeholder="Nombre" required
                            asp-for="NombreVM" />
                        <input class="form-control mb-3" name="ApellidoVM" type="text" placeholder="Apellido"
                            required asp-for="ApellidoVM" />
                        <input class="form-control mb-3" name="CorreoVM" type="email" placeholder="Email" required
                            asp-for="CorreoVM" />
                        <input class="form-control mb-3" name="PasswordVM" type="password" placeholder="Contraseña"
                            required asp-for="PasswordVM" />
                        <input class="form-control mb-3" name="RepPasswordVM" type="password"
                            placeholder="Repetir Contraseña" required asp-for="RepPasswordVM" />
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-success" type="submit">Registrarse
                            </button>
                        </div>
                        @if (ViewData["Error"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Error"];
                            </div>
                        }

                    </form>
                    ¿Ya tiene una cuenta? <a asp-controller="Acceso" asp-action="Login">Incia Sesion</a>
                </div>
            </div>

        </div>
    </div>
    <script>
            $(document).ready(function () {
        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                                alert('@Html.Raw(TempData["ErrorMessage"])');
            </text>
        }
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
